body {
	font-family: "黑体";
	font-size: 14px;
	margin: 0;
	/*background-color: #ABABAB;	*/
}

div#container {
	/*width: 100%;*/
	margin: 20px;
	padding: 20px;
	border: 1px solid #999;
	float: left;
	background-color: #EEE;
}

/*------------------------左栏开始-----------------------*/
div#tlogo {
	width: 200px;
	margin: 20px;
	padding: 20px;
	display: table;
	border: 1px solid #999;
	float: left;
	/*position: relative;*/
	background-color: #FFF;
}

div#tlogo .tablerow {
	display: table-row;
}

div#tlogo .tablerow p {
	display: table-cell;
	vertical-align: top;
}
/*------------------------左栏结束-----------------------*/

/*------------------------中栏开始-----------------------*/
div#tintro {
	width: auto;
	margin: 20px 200px 20px 280px;
	padding: 20px;
	border: 1px solid #999;
	/*float: right;*/
	/*position: relative;*/
	background-color: #FFF;
}

div#tintro p {
	text-indent: 2em;
}
/*------------------------中栏结束-----------------------*/
/*------------------------右栏开始-----------------------*/
div#plogo {
	width: 120px;
	margin: 20px;
	padding: 20px;
	text-align: center;
	border: 1px solid #999;
	float: right;
	/*position: relative;*/
	background-color: #FFF;

}
/*------------------------右栏结束-----------------------*/